@mixin base-body {
	/* Body */
	body {
		font-family: $font-primary;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.7;
		color: $brand-body-color;
		background: $brand-white;
		&.offcanvas {
			overflow: hidden;
		}
	}
}